<html>
  <head>
    <title>UFO Sightings</title>
    <%- include ('partials/bootstrap') %>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container-fluid">
      <header class="jumbotron jumbotron-fluid jumbotron-color">
        <div class="mx-4">
          <h1>UFO Sightings</h1>
          <p>Where all your fantastical sightings are found</p>
        </div>
      </header>
      <div class="text-center">Sorting by:</div>
      <!-- <form action=""></form> -->
      <form action="/" class="text-center">
        <select name="sighting">
          <option value="shape">shape</option>
          <option value="city">city</option>
          <option value="state">state</option>
          <option value="date_time">Date/ Time</option>
        </select>
        <button class="btn btn-outline-secondary btn-sm" input type="submit">
          Sort
        </button>
      </form>
      <main>
        <h2 class="font-weight-light text-center">Sighting List</h2>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Sighting</th>
              <th>Date / Time</th>
              <th>Shape</th>
              <th>City</th>
              <th>Functions</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < sightings.length; i++ ) { %>
            <tr>
              <td>
                <a href="/sighting/<%= i %>">Sighting <%= i + 1 %></a>
              </td>
              <td><%=sightings[i].date_time %></td>
              <td><%= sightings[i].shape %></td>
              <td><%= sightings[i].city %></td>
              <td>
                <form
                  class="button-tile"
                  action="/sighting/<%= i %>?_method=DELETE"
                  method="POST"
                >
                  <input type="submit" value="Delete" />
                </form>
                <form class="button-tile" action="/sighting/<%= i %>/edit">
                  <input type="submit" value="Edit" />
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <section>
          Your favorite sighting(s): <br />
          <% for( let i = 0; i < favoriteSightings.length; i++ ) { %>
          <a href="/sighting/<%= favoriteSightings[i]%>"
            >Sighting <%= favoriteSightings[i]+1%>
          </a>
          <% } %>
          <br /><br />
        </section>
        <p>Total visits = <%= visits %></p>
      </main>
    </div>
  </body>
</html>
