<html>
  <head>
    <title>List of Sightings</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>List of Sightings:</h1>
    <% for( let i = 0; i < sightings.length; i++ ) { %>
    <a href="/sighting/<%= i %>">Sighting <%= i + 1 %>:</a> <br /><%=
    sightings[i].date_time %> <br />

    <%= sightings[i].city %> <br />
    <%= sightings[i].state %>
    <hr />
    <% } %>
  </body>
</html>
